name: Tests

on:
  push:
    branches-ignore:
      - "stable"

jobs:
  node:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        node-version: [10, 12, 14, 16]
        arangodb-version: [3.6, 3.7]

    container:
      image: node:${{ matrix.node-version }}

    services:
      arangodb:
        image: arangodb:${{ matrix.arangodb-version }}
        env:
          ARANGO_NO_AUTH: 1

    steps:
      - uses: actions/checkout@v2
      - run: npm install -g npm@7
      - run: npm install
      - run: npm test
        env:
          TEST_ARANGODB_URL: http://arangodb:8529
          CI: true

  web:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        arangodb-version: [3.5, 3.6, 3.7]

    container:
      image: buildkite/puppeteer:latest

    services:
      arangodb:
        image: arangodb:${{ matrix.arangodb-version }}
        env:
          ARANGO_NO_AUTH: 1

    steps:
      - uses: actions/checkout@v2
      - run: npm install -g npm@7
      - run: npm install
      - run: node smoke-test.js

  promote:
    runs-on: ubuntu-latest
    needs: ["node", "web"]
    if: ${{ github.ref == 'refs/heads/main' }}

    steps:
      - uses: actions/checkout@v2
      - run: git fetch origin main
      - run: git fetch origin stable
      - run: git checkout stable
      - run: git merge --ff main
      - run: git push origin stable
