name: Tests

on:
  push:
    branches-ignore:
      - "stable"

jobs:
  node:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        module-system: [cjs, esm]
        node-version: [20, 22, 23]
        arangodb-version:
          - arangodb/arangodb:3.12
          - arangodb/enterprise:3.12
          - arangodb/enterprise:latest
          - arangodb/enterprise-test:devel-nightly

    container:
      image: node:${{ matrix.node-version }}-alpine

    services:
      arangodb:
        image: ${{ matrix.arangodb-version }}
        env:
          ARANGO_NO_AUTH: 1
          ARANGO_LICENSE_KEY: ${{ secrets.ARANGO_LICENSE_KEY }}

    steps:
      - uses: actions/checkout@v4
      - run: apk add jq
      - run: npm install -g npm@10
      - run: npm install
      - run: npm run test:${{ matrix.module-system }}
        env:
          ARANGO_RELEASE: ${{ matrix.arangodb-version }}
          TEST_ARANGODB_URL: http://arangodb:8529
          CI: true

  web:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        arangodb-version:
          - arangodb/arangodb:3.11.12
          - arangodb/arangodb:3.12.3
          - arangodb/arangodb-test:devel-nightly

    container:
      image: node:20

    services:
      arangodb:
        image: ${{ matrix.arangodb-version }}
        env:
          ARANGO_NO_AUTH: 1

    steps:
      - uses: actions/checkout@v4
      - run: apt-get update && apt-get install jq wget gnupg -y
      - run: wget -q -O - https://dl-ssl.google.com/linux/linux_signing_key.pub | apt-key add -
      - run: sh -c 'echo "deb [arch=amd64] http://dl.google.com/linux/chrome/deb/ stable main" >> /etc/apt/sources.list.d/google.list'
      - run: apt-get update && apt-get install -y google-chrome-stable fonts-ipafont-gothic fonts-wqy-zenhei fonts-thai-tlwg fonts-kacst fonts-freefont-ttf libxss1 --no-install-recommends -y
      - run: npm install -g npm@10
      - run: npm install && npm install puppeteer
      - run: node smoke-test.mjs

  promote:
    runs-on: ubuntu-latest
    needs: ["node", "web"]
    if: ${{ github.ref == 'refs/heads/main' }}

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ github.token }}
      - run: |
          git fetch . HEAD:stable
          git push -f origin stable
